---
import { Image } from "astro:assets";

import webkom from "@/assets/webkom-logo.png";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="max-w-lg mx-auto min-h-screen py-14 sm:py-20 space-y-10 px-5">
    <div class="flex flex-col items-center gap-2">
      <Image src={webkom} alt="Webkom logo" class="w-32 h-auto" loading="eager" format="png" />
      <h1 class="text-4xl
        font-semibold">echo Webkom</h1>
    </div>

    <p class="text-lg text-center">
      echo Webkom er utviklergruppen i Webkom. Vi jobber med å lage og vedlikeholde nettsidene til
      <b> echo &ndash; Linjeforeningen for informatikk</b> ved Universitetet i Bergen.
    </p>
  </main>
</BaseLayout>
