---
interface Props {
  to: string;
}

const { to } = Astro.props;
---

<li class="py-2">
  <a
    href={to}
    class="p-4 bg-[#151515]/80 hover:bg-[#151515]/90 block rouned-lg group space-y-1 border border-neutral-800 shadow-lg transition-all duration-300 rounded-lg"
  >
    <h2 class="text-xl font-semibold">
      <slot name="title" />
    </h2>

    <p class="text-gray-300">
      <slot name="desc" />
    </p>

    <p
      class="flex flex-row items-center gap-1 group-hover:gap-2 text-accent duration-200"
    >
      <span>Besøk</span>
      <span>&rarr;</span>
    </p>
  </a>
</li>
