@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Sans";
  src: url("../public/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans Bold";
  src: url("../public/fonts/Fira_Sans/FiraSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

@layer base {
  * {
    @apply m-0 p-0;
  }

  html,
  body {
    @apply bg-black text-white;
  }
}
